*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    background: #fafafa;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: white;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.logo .brand_logo{
    height: 55px;
    padding-top: 0.5rem;
    padding-left: 15rem;
}
.other_logo{
    float: right;
    padding-right: 15rem;
}
.icon img{
    width: 28px;
    margin-right: 1rem;
    float :left;
    margin-top: 1.1rem;
}
.other_logo .my_account{
    width: 28px;
    border-radius: 5rem;
}
.other_logo .icon li{
    float: left;
}
.main_container .top_Box{
    width: 400px;
    height: 100px;
    margin: 2rem 20rem 1rem;
    background: white;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
}
.main_container .middle_Top{
    width: 400px;
    height: 55px;
    margin: 1.5rem 20rem 0;
    background: white;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.middle_Top .my_photo{
    width: 40px;
    height: 40px;
    margin: 0.2rem 0.2rem 0;
    border-radius: 3rem;
    float: left;
}
.middle_Top .my_account{
    width: 90px;
    padding: 0.5rem 0;
    display: inline-block;
    font-weight: bold;
}
.middle_Top .my_account a{
    color: black;
}

.middle_Top .dot{
    width: 37px;
    float: right;
    margin: -1.7rem auto;
    padding-right: 1rem;
    
}
.main_container .middle_Box{
    width: 400px;
    height: 400px;
    margin: -0.5rem 10rem;
    margin-left: 20rem;
    background: white;
    border: 1px solid rgb(213, 213, 213);
    border-bottom: 0;
    float: left;
    border-radius: 1px;
}
.middle_review{
    width: 400px;
    height: 150px;
    margin: 24.5rem 10rem 0;
    margin-left: 20rem;
    background: white;
    border: 0.5px solid rgb(213, 213, 213);
}
.review_icon .heartBtn{
    width: 3rem;
    float: left;
    border: none;
    background: white;
}
.review_icon .xi-heart-o{
    width: 1rem;
    height: 2rem;
    margin: 0.5rem;
    float: left;
    border: none;
    cursor: pointer;
}
.review_icon .spBubble{
    width: 3rem;
    float: left;
    border: none;
    background: white;
    cursor: pointer;
}
.review_icon .xi-speech-o{
    width: 0.8rem;
    margin: 0.5rem;
    float: left;
}
.review_icon .send{
    margin: 0.5rem;
    border: none;
    background: white;
    cursor: pointer;
    float: left;
}
.review_icon .location-arrow{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.7rem;
    float: left;
}
.review_icon .bookmark{
    float: right;
    border: none;
    background: white;
    cursor: pointer;
    
}
.review_icon .xi-bookmark-o{
    width: 1.9rem;
    height: 1.6rem;
    margin: 0.5rem;
    float: right;
}
.middle_review .like_count{
    display: block;
    text-indent: 0.5rem;

}
.middle_add_review{
    width: 400px;
    height: 50px;
    margin: 0 10rem;
    margin-left: 20rem;
    background: white;
    border: 0.5px solid rgb(213, 213, 213);
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.comment_part .comment{
    width: 400px;
    height: 4.4rem;
}
.middle_add_review .smile{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.6rem;
    float: left;
}
.middle_add_review .input_review{
    margin: 1rem 0.5rem;
    border: none;
    outline: none;
}
.review_upload{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    float: right;
    margin: 0.3rem;
    font-weight: bold;
    /* color: rgb(11, 159, 228); */
    color: rgb(199, 235, 245);
    cursor: pointer;
}
.main_container .bottom_Box{
    width: 400px;
    height: 300px;
    margin: -47.5rem -30rem -6rem;
    background: #fafafa;
    border: none;
    float: right;
}
.bottom_Box_my_phAccount .my_photo{
    width: 50px;
    border-radius: 50%;
    float: left;
}
.bottom_Box_my_phAccount .my_account{
    padding: 0.9rem;
    margin-left: 3.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.bottom_Box_my_phAccount .my_account a{
    color: black;
}
.reco{
    font-size: small;
    font-weight: bold;
    color: #949393;
    display: inline;
}
.allView{
    border: none;
    background:#fafafa;
    padding-left: 14rem;
    cursor: pointer;
    font-weight: bold;
    font-size: small;
}

/*clear:both 속성은 float속성을 해제.
float 속성 적용시 이후에 오는 다른 요소들까지같은 속성이 전달되어 둘러싼
형태가 되거나 영역 아래로 들어간다
부모 태그에 class name을 주고, ::after 가상 요소 이용,*/
.fixedclear:after{
    content:"";
    display: block;
    clear: both;
}

